<%= form_with model: Note.new,
              url: notes_path,
              method: :post,
              class: 'row g-3',
              local: false do |f| %>
  <div class="col-12">
    <%= f.text_field :title, id: 'new-title-input',
                             class: 'form-control',
                             placeholder: t('.title_placeholder') %>
  </div>
  <div class="col-12">
    <%= f.text_area :body, id: 'new-body-input',
                           class: 'form-control',
                           rows: 8 %>
  </div>
  <div class="col-12 d-md-flex justify-content-md-end">
    <%= f.submit class: 'btn btn-outline-secondary',
                 'data-turbolinks': false %>
  </div>
<% end %>
