<% notes.each do |note| %>
  <div class="col-4">
    <%= button_to '',
                  note_path(note, note_hashid: note.hashid),
                  method: :delete,
                  class: 'btn-close',
                  remote: true,
                  'aria-label': 'Close',
                  'data-confirm': t('confirm_note_deletion') %>
    <%= link_to edit_note_path(note), class: 'card border-secondary mb-3 note-card',
                                      style: 'max-width: 18rem;',
                                      remote: true do %>
      <div class="card-header card-title">
        <%= note.title %>
      </div>
      <div class="card-body text-secondary">
        <p class="card-text">
          <%= truncate(note.body, length: 100) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
