<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <%= note.title %>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">
      <%= note.body %>
    </p>
  </div>
</div>
