@import "~bootstrap/scss/bootstrap";

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

#notes-main-div {
  background-color: #383838;
}

#new-note-main-div {
  background-color: #0F340F;
}

.note-card {
  text-decoration: none;
}

.note-card:hover {
  transition: transform 1s;
  transform: scale(1.05);
}

.note-card:hover:after {
  transition: transform 1s;
}

.card-title {
  color: #212529;
}
