<div class="justify-content-end">
  <div class="dropdown" style="text-align: right;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= t('language') %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="/?locale=en">
          <%= t('english') %>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="/?locale=pt-BR">
          <%= t('portuguese') %>
        </a>
      </li>
    </ul>
  </div>
</div>
